* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--headerHeight);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
}

header,
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    font-size: 2rem;
    padding-block: 50px;
}

nav {
    padding-block: 10px;
}

nav > * {
    color: white;
    font-size: 2rem;
}

.empty {
    height: 500px;
    background: aliceblue;
    color: #009b77;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.container {
    height: 100vh;
    overflow: hidden;
    background: #eee;
    display: flex;
    align-items: center;
    padding: 20px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
}

.panel1 {
    background-color: #ff6f61;
}

.panel2 {
    background-color: #6b5b95;
}

.panel3 {
    background-color: #88b04b;
}

.panel4 {
    background-color: #f37573;
}

.panel5 {
    background-color: #92a8d1;
}

.panel6 {
    background-color: #955251;
}

.panel7 {
    background-color: #b565a7;
}

.panel8 {
    background-color: #009b77;
}

.panel9 {
    background-color: #dd4124;
}

.panel10 {
    background-color: #45b8ac;
}

.panel11 {
    background-color: #e15d44;
}

.panel12 {
    background-color: #7fcdcd;
}



[data-barba-transition] {
    height: 250vw;
    width: 250vw;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none !important;
    background-color: #88b04b;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    will-change: transform;
}

@media only screen and (max-width: 768px) {
    [data-barba-transition] {
        height: 300vw;
        width: 300vw;
    }
}

@media only screen and (max-width: 600px) {
    [data-barba-transition] {
        height: 400vw;
        width: 400vw;
    }
}
